<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="enejApp">
  <h1>Formulário de cadastro</h1>
  <div ng-controller="profileController as profile">
    <form name="profileForm" ng-submit="profileForm.$valid && profile.enviarForm()">
      <label>Nome de usuário</label>
      <input type="text" name="nomeUsuario" ng-model="profile.user.nomeUsuario" required><br>
      <label>Email</label>
      <input type="email" name="email" ng-model="profile.user.email" required><br>
      <label>Senha</label>
      <input type="password" name="senha" ng-model="profile.user.senha" required><br>
      <label>Nome</label>
      <input type="text" name="nome" ng-model="profile.user.nome" required><br>
      <label>Sobrenome</label>
      <input type="text" name="sobrenome" ng-model="profile.user.sobrenome" required><br>
      <label>Nome do crachá</label>
      <input type="text" name="nomeCracha" ng-model="profile.user.nomeCracha" required><br>
      <label>CPF</label>
      <input type="number" name="cpf" ng-model="profile.user.cpf" required ng-minlength="11" ng-maxlength="11"><br>
      <label>RG</label>
      <input type="number" name="rg" ng-model="profile.user.rg" required><br>
      <label>Sexo</label>
       <select ng-model="profile.user.sexo" required>
        <option name="sexo" value="masculino">Masculino</option>
        <option name="sexo" value="feminino">Feminino</option>
      </select><br>
      <label>CEP</label>
      <input type="number" name="cep" ng-model="profile.user.cep" required><br> 
      <label>País</label>
      <input type="text" name="pais" ng-model="profile.user.pais" required><br>
      <label>Estado</label>
      <input type="text" name="estado" ng-model="profile.user.estado" required><br>
      <label>Cidade</label>
      <input type="text" name="cidade" ng-model="profile.user.cidade" required><br>
      <label>Bairro</label>
      <input type="text" name="bairro" ng-model="profile.user.bairro" required><br>
      <label>Endereço</label>
      <textarea name="endereco" ng-model="profile.user.endereco" required></textarea><br>
      <label>Número</label>
      <input type="number" name="numero" ng-model="profile.user.numero" ng-minlength="1"><br>
      <label>Complemento</label>
      <textarea name="complemento" ng-model="profile.user.complemento" required></textarea><br>
      <label>Data de nascimento</label>
      <input type="text" name="nascimento" ng-model="profile.user.nascimento" required><br>
      <label>Universidade</label>
      <input type="text" name="universidade" ng-model="profile.user.universidade" required><br>
      <label>Curso</label>
      <input type="text" name="curso" ng-model="profile.user.curso" required><br>
      <label>Período</label>
      <input type="text" name="periodo" ng-model="profile.user.periodo" required><br>
      <label>Federação</label>
      <input type="text" name="federacao" ng-model="profile.user.federacao" required><br>
      <label>Empresa Júnior</label>
      <input type="text" name="ej" ng-model="profile.user.ej" required><br>
      <label>Cargo na Empresa Júnior</label>
      <input type="text" name="cargo" ng-model="profile.user.cargo" required><br>
      <label>Tamanho da camisa</label>
      <input type="text" name="camisa" ng-model="profile.user.camisa" required><br>
      <label>Tem necessidades especiais?</label>
      <input type="radio" name="pne" value="nao" ng-model="profile.user.pne" required>Não
      <input type="radio" name="pne" value="sim" ng-model="profile.user.pne" required>Sim<br>
      <label>Qual?</label>
      <textarea name="necessidades" ng-model="profile.user.necessidades" required></textarea><br>
      <label>Dieta especial?</label>
      <input type="radio" name="dieta" value="nao" ng-model="profile.user.dieta" required>Não
      <input type="radio" name="dieta" value="sim" ng-model="profile.user.dieta" required>Sim<br>
      <label>Intolerância ou alergia?</label>
      <input type="radio" name="alergia" value="nao" ng-model="profile.user.alergia" required>Não
      <input type="radio" name="alergia" value="sim" ng-model="profile.user.alergia" required>Sim<br>

      <input type="submit" value="Enviar">
    </form>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

 
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script type="text/javascript">
      var myFirebaseRef = new Firebase("https://amber-fire-952.firebaseio.com/");
  </script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="profile/profile.js"></script>
</body>
</html>
